<%- include('utils/header.ejs') %>
    <body class="overflow-hidden">
        <%- include('utils/nav.ejs') %>
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center">Pagina no encontrada!!</h1>
    </body>
</html>